<section class="flex-container">
  <div class="row">
    <mat-card>
        <mat-card-title>Bienvenido al Curso de Angular</mat-card-title>
        <mat-card-subtitle>Desarrollo Profesional de Apps</mat-card-subtitle>
      <mat-card-content>
        <p>Este cirsp se orienta a crear Apss con tecnologias de Backend y Angular</p>
      </mat-card-content>
      <!--<mat-card-actions>
        <button mat-button color="primary">Get Started</button>
      </mat-card-actions>-->
    </mat-card>
  </div>
</section>
